<div class="contact-container">
    <div class="contact-box">
        <h2>GET IN TOUCH</h2>
        <p>Have an exciting project you need help with?
        Send me an email <a href="mailto:inofisat@gmail.com" target="_blank"><i class="bi bi-envelope-paper-fill"></i></a></p>
        <div>
         <p>You can also connect with me on social media</p>
         <div class="icon-container">
            <div  class="icon">
                <a href="https://github.com/Nahfeesah" target="_blank"><i class="bi bi-github"></i></a>
            </div>
            <div  class="icon">
                <a href="https://x.com/techiefeesah"><i class="bi bi-twitter-x"></i></a>
            </div>
            <div class="icon">
                <a href="http://www.linkedin.com/in/nofisatibrahim" target="_blank" class="anchor"><i class="bi bi-linkedin"></i></a>
            </div>
         </div>

        </div>
    </div>
</div>
