/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: "Merriweather", serif;
    color: #5e24ca ;
}
h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
}
h2{
    
    font-weight: 500;
    font-style: normal;
    
}

html, body { height: 100%; }

